# Legacy directory
Dash/
*.pem
*dev
dev*

# Flask Alembic Migrate files
migrations/

# Byte-compiled / compiled Python files
*.py[cod]
__pycache__/

# Virtual environment
env/
venv/
.venv/
*.env
!example.env

# Logs
*.log
logs/

# Database files
*.db
chroma/
# Manual transaction / account uploads
imports/*
!imports/README.md

# Temporary files
*.bak
*.swp
temp/
*.tmp
*.backup

# Archive files
archive/
app/archive/

# Compiled front-end assets
dist/
node_modules/
*.map

# Data files
data/
app/data/
app/temp/

# IDE and editor specific files
.idea/
.vscode/
*.iml

# Miscellaneous
*.DS_Store
*.egg-info/
*.lock
*.local
