default_language_version:
  python: python3

repos:
  # Black: Python formatter
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black

  # isort: Import sorting
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args:
          - "--profile=black"

  # Ruff: Fast linter / fixer
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args:
          - "--fix"
          - "--line-length=120"
          - "--ignore=E501,E203,E402"
