<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finance Dashroad</title>
  <link rel="stylesheet" id="current-theme" href="{{ url_for('static', filename='themes/' + current_theme) }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
  <header>
    <div>
      <h1>Brayden.com</h1>
      <h3>Finance</h3>
    </div>
    <nav class="menu">
      <button onclick="window.location.href='/'">Dashboard</button>
      <button onclick="window.location.href='/accounts'">Accounts</button>
      <button onclick="window.location.href='/transactions'">Transactions</button>
      <button onclick="window.location.href='/settings'">Settings</button>
    </nav>
  </header>
  <main>
    <div class="visualization">
      <div class="chart-cashflow">
        <h2>Net Income vs Spending</h2>
        <button id="toggleCashFlowChart">Toggle Chart</button>
        <canvas id="cashFlowChart"></canvas>
      </div>
      <div class="chart-categories">
        <h2>Spending by Category</h2>
        <button id="toggleCategoryChart">Toggle Chart</button>
        <canvas id="categoryBreakdownChart"></canvas>
      </div>
      </div>
      <div class="chart-assets-trends">
        <h2>Net Assets and Trend</h2>
        <canvas id="cashFlowTrendsChart"></canvas>
      </div>
    </div>
    <div class="transactions">
      <h3>Transactions</h3>
      <table id="transactions-table" class="display">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody id="transactions-table">
          <tr>
            <td colspan="3">No transactions available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <footer>&copy; This is fine. I'm fine.</footer>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
  <script src="/static/scripts/finance-dashroad.js"></script>
  <script src="/static/scripts/cashflow-chart.js"></script>
</body>
</html>
