/* Global Reset and Base Styling */
body {
  background: linear-gradient(135deg, #1e1e1e, #2b2b2b);
  background-attachment: fixed;
  color: #dcdcdc;
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: #181818;
  color: #76c7c0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 2px solid #76c7c0;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
}

footer {
  background-color: #181818;
  color: #666;
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
  border-top: 2px solid #76c7c0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
}

/* Controls Section */
.controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.controls button {
  background: none;
  color: #76c7c0;
  border: 2px solid #76c7c0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.controls button:hover {
  background-color: #76c7c0;
  color: #101010;
  box-shadow: 0 0 10px #76c7c0;
}

.controls button:active {
  background-color: #5bb9ae;
  box-shadow: 0 0 15px #5bb9ae;
}

.controls p {
  font-size: 0.875rem;
  color: #e53935; /* Error color for status messages */
}

/* Institutions Container */
#institutions-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.institution-row {
    padding: 1rem;
    background-color: #292d3e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.institution-row:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #1a1a1a;
  color: #dcdcdc;
  border-radius: 8px;
  overflow: hidden;
}

table thead {
  background-color: #2a2a2a;
}

table thead th {
  padding: 1rem;
  font-weight: bold;
  color: #76c7c0;
  text-align: left;
  border-bottom: 2px solid #444;
}

table tbody td {
  padding: 1rem;
  border-bottom: 1px solid #444;
}

table tbody tr:hover {
  background-color: #292929;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #76c7c0;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5bb9ae;
}
